{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Recruitment test assignment - Keypro Map">
    <meta name="keywords" content="Recruitment, Keypro, Map">
    <meta name="author" content="Sazid Nur Ratul">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'css/plugin.css'%}" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />

    <title>Keypro Map</title>
</head>

<body>
    <!-- Image and text -->
    
    {% include 'partials/_sidebar.html' %}

    {% block content %}

    {% endblock %}
</body>

</html>

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script src="{% static 'js/plugin.js'%}"></script>
<script src="{% static 'js/data/test.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script src="{% static 'js/web-GIS.js'%}"></script>

<script>
    var markers = new L.geoJSON()
    map.on('click', function(e){
        var lat = e.latlng.lat
        var lng = e.latlng.lng
        console.log(lat)
        var popup = `<div class="modal-header p-2 pb-2 border-bottom-0">
                        <h4 class="fw-bold mb-0">Add Marker</h4>
                    </div>
                
                    <div class="modal-body p-1 pt-0">
                        <form action="{% url 'add-marker' %}" method="POST">
                            
                            {% csrf_token %}
                            
                            <input type="hidden" name="marker_lat" value="${lat}">
                            <input type="hidden" name="marker_lng" value ="${lng}">

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control rounded-3" name="marker_name" placeholder="Name">
                                <label for="marker_name">Name</label>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg rounded-3" name="marker_des" placeholder="Description">
                                <label for="marker_des">Description</label>
                            </div>
                            
                            <button class="w-100 mb-2 btn btn-md rounded-3 btn-primary" type="submit">Save</button>
                        </form>
                    </div>`;
        var marker = L.marker([lat, lng]).bindPopup(popup)
        marker.addTo(map).openPopup()
    })

    {% for element in marker %}

        var marker_lat = {{element.marker_lat}}
        var marker_lng = {{element.marker_lng}}

        var popup = `<div class="modal-header border-bottom-0 text-wrap">
                        <h4 class="modal-title fs-5 text-break">{{ element.marker_name }}</h4>
                    </div>
                    <div class="modal-body py-0 text-wrap">
                        <p class="text-break">{{ element.marker_des }}</p>
                    </div>
                    <div class="modal-footer flex-column border-top-0">
                        <form action="delete-marker/{{ element.id }}" method="get" id="delete-button">
                        <button type="submit" form="delete-button" class="btn btn-md btn-primary w-100 mx-0 mb-2">Delete Marker</button>
                    </div>`

        var marker = L.marker([marker_lat, marker_lng], {draggable: true})
                        .addTo(cluster)
                        .bindPopup(popup)
        
        marker.on("dragend", function(e) {
            this.openPopup()
            var popup = e.target.getPopup();
            var content = popup.getContent();
            
            var tempArray = content.split("delete-marker/");
            tempArray = tempArray[1].toString().split("\"")
            var marker_id = parseInt(tempArray[0])

            var latlng = e.target.getLatLng();
            var csrf_html_tag = `{% csrf_token %}`
            tempArray = csrf_html_tag.split("\"");
            var csrftoken = tempArray[5]

            $.ajax({
                type: 'POST',
                url: "{% url 'update-marker' %}",
                data: {
                    csrfmiddlewaretoken: csrftoken,
                    marker_id: marker_id,
                    marker_lat: latlng.lat,
                    marker_lng: latlng.lng
                }
            });
        });

        marker.on('mouseover', function(e) {
            this.bindTooltip('Drag to update position').openTooltip();
        });

        marker.on('drag', function(e) {
            this.unbindTooltip();
        });
        
    {% endfor %}

</script>